Repository saashqdev/saashq: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

formatting
  .github/saashq-logo-dark.svg
  .github/saashq-logo.svg
Due: none

formatting
  saashq/build.py
  yarn.lock
Due: server, server-ui

formatting
  saashq/build.py
Due: server, server-ui

formatting
  CODE_OF_CONDUCT.md
  Dockerfile
Due: none

formatting
  yarn.lock
Due: none

formatting
  .github/workflows/create-release.yml
  pyproject.toml
  saashq/hooks.py
  saashq/locale/af.po
  saashq/locale/ar.po
  saashq/locale/bs.po
  saashq/locale/de.po
  saashq/locale/eo.po
  saashq/locale/es.po
  saashq/locale/fa.po
  saashq/locale/fi.po
  saashq/locale/fr.po
  saashq/locale/hu.po
  saashq/locale/id.po
  saashq/locale/it.po
  saashq/locale/nl.po
  saashq/locale/pl.po
  saashq/locale/pt.po
  saashq/locale/pt_BR.po
  saashq/locale/ru.po
  saashq/locale/sv.po
  saashq/locale/tr.po
  saashq/locale/vi.po
  saashq/locale/zh.po
  saashq/locale/zh_TW.po
  saashq/tests/test_utils.py
Due: server, server-ui

formatting
  saashq/build.py
  saashq/commands/gettext.py
  saashq/commands/scheduler.py
  saashq/commands/site.py
  saashq/commands/testing.py
  saashq/commands/translate.py
  saashq/commands/utils.py
  saashq/deprecation_dumpster.py
  saashq/tests/test_commands.py
  saashq/tests/test_utils.py
Due: server, server-ui

formatting
  saashq/build.py
  saashq/commands/gettext.py
  saashq/commands/scheduler.py
  saashq/commands/site.py
  saashq/commands/testing.py
  saashq/commands/translate.py
  saashq/commands/utils.py
  saashq/deprecation_dumpster.py
  saashq/tests/test_commands.py
Due: server, server-ui

formatting
  package.json
Due: none

formatting
  esbuild/esbuild.js
  package.json
  yarn.lock
Due: ui-tests

formatting
  README.md
  package.json
  saashq/public/js/saashq/data_import/import_preview.js
  saashq/public/js/saashq/ui/datatable.js
  saashq/public/js/saashq/views/reports/query_report.js
  saashq/public/scss/report.bundle.scss
  saashq/public/scss/web_form.bundle.scss
  yarn.lock
Due: ui-tests

fomratting
  package.json
  saashq/public/js/saashq/data_import/import_preview.js
  saashq/public/js/saashq/ui/datatable.js
  saashq/public/js/saashq/views/reports/query_report.js
  saashq/public/scss/report.bundle.scss
  saashq/public/scss/web_form.bundle.scss
  yarn.lock
Due: ui-tests

formatting
  SECURITY.md
  package.json
  saashq/public/js/saashq/data_import/import_preview.js
  saashq/public/js/saashq/ui/chart.js
  saashq/public/js/saashq/ui/datatable.js
  saashq/public/js/saashq/views/reports/query_report.js
  saashq/public/scss/desk.bundle.scss
  saashq/public/scss/report.bundle.scss
  saashq/public/scss/web_form.bundle.scss
  yarn.lock
Due: ui-tests

formatting
  .mergify.yml
  yarn.lock
Due: none

formatting
  LICENSE
Due: none

formatting
  package.json
  saashq/automation/doctype/auto_repeat/auto_repeat.py
  saashq/core/doctype/block_module/block_module.py
  saashq/core/doctype/data_export/data_export.py
  saashq/core/doctype/docshare/docshare.py
  saashq/core/doctype/patch_log/patch_log.js
  saashq/core/doctype/sms_log/sms_log.js
  saashq/desk/doctype/desktop_icon/desktop_icon.js
  saashq/desk/doctype/desktop_icon/desktop_icon.py
  saashq/email/doctype/email_account/email_account.py
  saashq/email/doctype/email_domain/email_domain.py
  saashq/email/doctype/email_unsubscribe/email_unsubscribe.py
  saashq/email/doctype/unhandled_email/unhandled_email.py
  saashq/email/utils.py
  saashq/realtime.py
  saashq/website/doctype/blog_post/blog_post.js
  saashq/website/doctype/web_form/web_form.py
  saashq/website/doctype/web_form_field/web_form_field.py
  saashq/website/doctype/website_script/website_script.js
  saashq/website/doctype/website_theme/website_theme.py
Due: server, ui-tests, server-ui

formatting
  .github/saashq-logo-dark.svg
  saashq/public/images/saashq-favicon.svg
  saashq/public/images/saashq-framework-logo.png
  saashq/public/images/saashq-logo.png
Due: none

Path conditions:
  server: any of: **/*.py
  ui-tests: any of: **/*.js
  server-ui: any of: **/*.py
